.project {
    display: flex;
    /* padding: 20px; */
    /* outline: 1px solid black; */
    box-shadow: 0 0 2pt 2pt #a85076;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    column-gap: 30px;
}

.projects {
    padding: 20px;
}

.project_title {
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
}

.title {
    text-align: center;
}

img {
    box-shadow: 0 0 2pt 2pt #a85076;
    border-radius: 10px;
    height: 300px;
    width: 300px;
    display: block;
}

body {
    background-color: pink;
}

.project_text {
    display: flex;
    flex-direction: column;
}

.icon_with_text {
    display: flex;
    column-gap: 2px;
    align-items: center;
}