.project {
    display: flex;
    /* padding: 20px; */
    /* outline: 1px solid black; */
    box-shadow: 0 0 2pt 2pt rgb(70, 159, 227);
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    column-gap: 30px;
    background-color: aliceblue;
}

.projects {
    padding: 20px;
}

.project_title {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 30px;
    color: black;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 1%;
    margin-top: 20px;
}

.title {
    text-align: center;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: 350;
    font-style: italic;
}

.author {
    text-align: center;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: 350;
}

img {
    box-shadow: 0 0 2pt 2pt rgb(70, 159, 227);
    border-radius: 10px;
    height: 300px;
    width: 300px;
    display: block;
}

body {
    background-color: white;
}

.project_text {
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 18px;
    margin-bottom: 15px;
    flex-basis: 75%;
}

.icon_with_text {
    display: flex;
    column-gap: 2px;
    align-items: center;
}

.special_icon_with_text {
    display: flex;
    column-gap: 2px;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 2%;
}

.award_icon_with_text {
    display: flex;
    column-gap: 2px;
    align-items: center;
    margin-top: 0%;
    margin-bottom: 0.5%;
}

a {
    color: rgb(0, 127, 122);
    font-style: normal;
    text-decoration: none;
    font-size: 18px;
}

p {
    margin: 0%;
}

.tech_stack {
    font-weight: 600;
    font-size: 18px;
}

.award {
    color: rgb(217, 0, 138);
    font-style: bold;
}

.project_description {
    font-size: 18px;
    margin-top: 1%;
    margin-bottom: 1%;
}

ul {
    margin-top: 0%;
    margin-bottom: 0%;
}

li {
    font-size: 17px;
}

#supplemental { 
    text-align: center;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 0.25%;
    font-weight: 350;
    display: block;
}